.heb {
	font-family: 'SBL Hebrew';
}

.syr {
	font-family: 'Estrangelo Edessa';
}

kbd {
	background: #fcfcfc;
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	box-shadow: 0 -1px 0 #bbb inset;
	display: inline-block;
	padding: 3px 5px;
	vertical-align: middle;
}

a#header {
	color: #666;
	font-size: 150%;
	display: block;
	margin: .5em 0;
	padding: .5em;
	text-align: center;
	text-decoration: none;
}

div#main {
	background: #e0e0e0;
	border-radius: .4em;
	box-sizing: border-box;
	margin: 0 auto 3em;
	padding: 1em;
	width: 100%;
}

@media (min-width: 35em) {
	div#main {
		min-width: 30em;
		max-width: 95%;
		overflow: auto;
		resize: horizontal;
		width: 35em;
	}
}

div#form {
	position: relative;
}

input#search {
	border: 1px solid #c0c0c0;
	border-radius: 0;
	box-sizing: border-box;
	font-size: 120%;
	padding: .3em .5em;
	width: 100%;
}

span#help-icon {
	border: 1px solid #333;
	border-radius: 1em;
	color: #333;
	cursor: pointer;
	font-size: 80%;
	height: 1.5em;
	line-height: 1.5em;
	position: absolute;
	right: 1em;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 1.5em;
}
span#help-icon.active {
	background: #888;
	border-color: #888;
	color: #fff;
}

div#help {
	display: none;
	margin-bottom: 1em;
}

div#charsets-container {
	overflow: auto;
}

table#charsets {
	background: #f0f0f0;
	margin: 0 auto;
	padding: .5em;
}

table#charsets td {
	padding: .15em .2em;
	text-align: center;
}

table#charsets td:first-child {
	padding: .15em;
	text-align: left;
}

div#loading {
	display: none;
	margin: 2em 0 1em;
	text-align: center;
}

div#results {
	margin-top: 1em;
}

.result {
	background: #f0f0f0;
	color: inherit;
	cursor: pointer;
	display: block;
	line-height: 1.5em;
	margin-top: .2em;
	padding: .5em;
	text-decoration: none;
}

.result > .uni {
	color: #888;
}

.result > .lemma {
	font-weight: bold;
}

.result > .vocalization, .result > .pos {
	color: #888;
	font-size: 80%;
	margin-left: 1em;
}

.result > .external-entry {
	color: #333;
	display: inline-block;
	float: right;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	width: 1.5em;
}

.result > .gloss {
	color: #00a;
}

div#results iframe {
	border: 0;
	height: 400px;
	width: 100%;
}

div#error {
	display: none;
	margin-top: 1em;
}

div#copyright {
	color: #888;
	font-size: 80%;
	margin-top: 1em;
	text-align: center;
}

div#copyright a {
	color: inherit;
}
